<!DOCTYPE html>

<html>
   <head>
   <%- include ('../layout/head') %>
   
   </head>
   <body>

    <header>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/searches/new">Search</a></li>
    </ul>
    <nav>
 
    </nav>
    </header>


    <form class="book-view-container" action="/searches" method="POST">  <!-- action has to be "/searches" which matches the server.js in the app.post('/searches', booksHandler); -->
        <h1 padding=20px>Search Form</h1>
        <fieldset>
         <span font-size="20px">Title</span> <input type="radio" name="searchType" value="title"/>
         <span>Author</span><input type="radio" name="searchType" value="author" />
         <input type="text" name="searchQuery" />
        </fieldset>
        <button class = "google--button" type="submit">Search the Google Books API</button>
      </form>
   

<footer>
</footer>

</body>
</html>