<!DOCTYPE html>

<html>
   <head>
   <%- include ('../layout/head') %>
   </head>
   <body>

    <header>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/searches/new">Search</a></li>
                   
                </ul>
            </div>
        
        </div>
        </nav>
        </header>
      <h1>Search Form</h1>

    <form action="/searches" method="POST">  <!-- action has to be "/searches" which matches the server.js in the app.post('/searches', booksHandler); -->
        <fieldset>
         <legend>
          Book Search
         </legend>
         <span>Title</span> <input type="radio" name="searchType" value="title"/>
         <span>Author</span><input type="radio" name="searchType" value="author" />
         <input type="text" name="searchQuery" />
        </fieldset>
        <button class = "google--button" type="submit">Search the Google Books API</button>
      </form>
   

<footer>
</footer>

</body>
</html>