<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <title>Book Results</title>
</head>
<body>

<header>
    <header>
        <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/about">About</a></li> -->
                    <li><a href="/searches/new">Search</a></li>
                </ul>
            </div>
        
        </div>
        </nav>
        </header>
    <h2>Books Result</h2>
</header>
<% results.forEach( item => { %>  <!--the results is coming from the booksHandler .then(results => response.render('pages/searches/show', {results: results})) -->
    <div class="resultsContainer">
        <img src="<%= item.image %>">
        <h2><%= item.title %></h2>
        <h3><%= item.authors %></h3>
        <p><%= item.description %></p>
    </div>
    <% }) %>


<footer>
</footer>

</body>
</html>