<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/styles/base.css" />
<link rel="stylesheet" href="/public/styles/layout.css" />
<link rel="stylesheet" href="/public/styles/modules.css" />
<link rel="stylesheet" href="/public/styles/reset.css" />
<title>My Book Site</title>