<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <title>Hello World</title>
</head>
<body>
    <header>
			<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
						<!-- This is in the header partial -->
					</a>
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<!-- <li><a href="/about">About</a></li> -->
						<li><a href="/searches/new">Search</a></li>
					</ul>
				</div>
			</div>
			</nav>
	</header>
	
	<main>
		<section class="book-view container">
			<ul>
				<% books.forEach(book => { %>
					<li class="book-item">
						<h4>Title: <%= book.title %></h4>
					</li>

				<% }) %>
				<li class="rowCount">
					<h3>Books in Database: <%= books.length %></h3>
				</li>
			</ul>
		</section>





	</main>


<script></script>
</body>
<footer>
    <h3> This is our footer</h3>
</footer>

</html>

