<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles/base.css" />
	<link rel="stylesheet" href="public/styles/layout.css" />
	<link rel="stylesheet" href="public/styles/modules.css" />
	<!-- <link rel="stylesheet" href="/public/styles/reset.css" /> -->

	<title>My Book Site</title>

</head>
<body>
    <header>
		<nav class="navbar navbar-default" role="navigation">           
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/searches/new">Search</a></li>
				<!-- <li><a href="/books/2">Book</a></li> -->
			</ul>    
		</nav>
	
		<h2>My Books</h2>
	</header>
	
	<main>
		<section class="book-view container">
			<ul>
				<% books.forEach(book => { %>
					<li class="book-item" font-size=100px font-family=arial>
						<h4>Title: <%= book.title %></h4>
						<a href="/books/<%= book.id %>">View Details</a>
						
					</li>

				<% }) %>
				<li class="rowCount">
					<h3>Books in Bookcase: <%= books.length %></h3>
				</li>
			</ul>
		</section>





	</main>


<script></script>
</body>
<footer>
    <h3> This is our footer where we would display some stats if WE EVER FINISHED!</h3>
</footer>

</html>

