<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/base.css" />
    <link rel="stylesheet" href="/public/styles/reset.css" />
    <title>Hello World</title>
</head>
<body>
    <header>
		<header>
			<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
						<!-- This is in the header partial -->
					</a>
			
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						<!-- <li><a href="/about">About</a></li> -->
						<li><a href="/new">Search</a></li>
					</ul>
				</div>
			
			</div>
			</nav>
			</header>
        <h2>Hello World</h2>>
	</header>
	
	<main>
		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron">
					<h1>This is great</h1>
					<p>Welcome to our Book Search</p>
				</div>
			</div>
	
		
		</div>
		</main>
	<section>

	</section>

<script></script>
</body>
<footer>
    <h3> This is our footer</h3>
</footer>

</html>

