@media(min-width: 768px){
    body {
        background-color:  rgb(160, 152, 152);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
}
    
@media(max-width: 767px){
    body {
        background-color:  rgb(250, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
}